.form_option--setting{
    background: #fff;
    width: calc(83% - 3px);
    height: 600px;
    margin-top: 7px;
    box-shadow: 0px 5px 15px -15px rgba(0, 0, 0, 0.25);
}
.setting{
    background-color: #ccc;
    height:  700px;
}
.border-setting{
    width: 1008px;
    height: 0px;
    border: 1px solid #AFAFAF;
    margin-left: 20px;
}
.setting-exam{
    display: grid;
    margin: 20px 0 0 50px;
}
.oder-exam{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    color: #000000;
}
.points-title{
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    
    color: #919191;
}
#wrapper{
    display: flex;
    justify-content: right;
    margin-bottom: 50px;
}
.switch-toggle{
    margin-top: -20px;
}