* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    background-color: rgba(88, 169, 255, 0.27);
}

a {
    color: #000;
    text-decoration: none;
}

.search-results {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 0 solid transparent;
}

.search-results.hidden {
    display: none;
}

.search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-results li {
    padding: 20px 0px 20px 12px;
    font-size: 18px;
}

.search-results li:first-child {
    border-top: 0.5px solid #000;
}

.search-results li:hover {
    background-color: #e0d9d9;
    cursor: pointer;
}

.search-results li:last-child {
    border-bottom: none;
}

.search-results a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    padding-left: 12px;
}

.search-results p {
    margin: 0;
}

/* Overlay */
.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 708px;
    height: 435px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.password-notify {
    width: 313px;
    height: 200px;
    background: #ffffff;
    border-radius: 16px;
    position: absolute;
    z-index: 100;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.password-notify.active {
    display: flex;
}

.password-notify-icon {
    font-size: 40px;
    color: #52ff7f;
}

.password-notify-title {
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    max-width: 274px;
    color: #52ff7f;
}

.password-notify-btn {
    background-color: #76c376;
    border: none;
    font-size: 12px;
    padding: 10px 6px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.overlay.active {
    display: flex;
}

.modal-header span {
    font-size: 25px;
    color: #4d4d4d;
    padding-left: 4px;
}

.modal-header {
    height: 60px;
    border-bottom: 1px solid #000;
}

.modal-header-icon {
    padding-top: 20px;
    padding-left: 40px;
    color: #4d4d4d;
    font-size: 30px;
}

.modal-header-quit {
    float: right;
    padding: 24px;
    font-size: 20px;
    color: #4d4d4d;
}

.modal-header-quit:hover {
    color: #000;
    cursor: pointer;
}

.modal-content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.modal-content-lock {
    width: 40%;
    display: flex;
    align-items: center;
}

.modal-content-lock i {
    font-size: 220px;
    color: rgba(77, 77, 77, 0.4);
}

.modal-form {
    width: 60%;
}

.modal-form label {
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
}

.modal-form input {
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    border-radius: 4px;
    border: 0.5px solid rgba(77, 77, 77, 0.4);
}

.modal-form-btn {
    float: right;
    margin-top: 60px;
}

.btn {
    font-size: 14px;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
}

.modal-form-quit {
    background-color: #eadcdc;
}

.modal-form-update {
    background-color: #30d386;
}

/* Header */
.header {
    position: fixed;
    height: 175px;
    background: #fff;
    display: flex;
    align-items: center;
    padding-left: 68px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.header-logo {
    width: 162px;
    height: 125px;
    border-radius: 20px;
}

.header-title {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 20px;
}

.header-main-title {
    color: #001373;
    font-size: 30px;
    font-weight: 700;
}

.header-sub-title {
    letter-spacing: 10px;
    color: #007bff;
    font-size: 30px;
    font-weight: 400;
}

/* Content */
.content {
    margin-top: 175px;
    padding-top: 40px;
    background-color: rgba(88, 169, 255, 0.27);
    padding-bottom: 40px;
}

.content-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-nav-input {
    position: relative;
    margin-left: 280px;
    width: 800px;
    padding: 10px 0 10px 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.content-nav-input.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid #000;
}

.content-nav-input i {
    font-size: 26px;
    color: #666;
}

.content-nav-input input {
    padding-left: 16px;
    width: 80%;
    border: none;
    outline: none;
    font-size: 15px;
}

.search-btn-x {
    position: absolute;
    right: 20px;
    top: 10px;
    display: none;
    cursor: pointer;
}

.content-nav-user {
    width: 20%;
    padding-right: 30px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.user-info {
    position: absolute;
    right: 28%;
    top: calc(100% + 4px);
    background-color: #fff;
    width: 282px;
    height: 146px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-nav-user:hover #user-info {
    display: flex;
}

.user-info.active {
    display: flex;
}

.user-info::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #000;
    width: 90%;
    height: 1px;
    top: 50%;
}

.user-info-content {
    height: 60px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info-content a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.user-info-content:hover {
    background-color: rgba(228, 228, 228, 0.93);
    transition: 0.2s linear;
}

.user-info-content i {
    font-size: 20px;
    padding-left: 30px;
}

.user-info-content span {
    font-size: 18px;
    position: absolute;
    left: 32%;
}

#user-title {
    position: relative;
}

.content-nav-user::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    right: 0;
    top: 24px;
}

.content-nav-user span {
    font-size: 18px;
    padding-right: 20px;
    user-select: none;
}

.content-nav-user i {
    font-size: 26px;
}

.content-main {
    padding-top: 40px;
}

.content-main-heading {
    font-size: 28px;
    padding-left: 220px;
    font-weight: 400;
}

.content-main-wrap-element {
    padding-top: -20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.content-link-item {
    width: 182px;
    margin: 50px 60px 0 60px;
}

.content-main-img {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    background: top center / cover no-repeat url(../img/logo.jpg);
}

.content-main-sub-img {
    font-size: 15px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.redirect {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    background-color: #fff;
}

.link {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #888;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 18px;
    color: #333;
}

.link-active {
    background: #bdb8b8;
    color: #fff;
}

.link i {
    font-size: 15px;
}

/* Pagination */
nav {
    background-color: #fff;
    padding-top: 20px;
}

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #cecaca;
}

.page-link {
    text-decoration: none;
    padding: 14px;
}
