img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app{
    background: #ccc;
    height: 100%;
}
.appp{
    height: 4000px;
    background-color: #ccc;
}
ul,li{
    list-style: none;
}
.header{
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo-img{
    width: 10%;

}


.title-heading_1{
    color:#001373;
    font-size: 30px;
    line-height: 36px;
}
.title-heading_2{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color:  #007BFF;
    
}
.form-tool {
    position: absolute;
    top: 400px;
    right: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.icon-tool{
    cursor: pointer;
    width: 70%;
   display: block;
   margin-top: 20px;
   margin-left: 8px;
}
.icon-tool:hover{
    transform: scale(1.1);
    color: #333;
}
.image-tool{
    width: 70%;
    margin: 10px 0 0 8px;
}
.form-option-tool{
    background-color: #fff;
    width: 53px;
    height: 297px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 6px; 
}
.nav{
    width: 100%;
    height: 60px;
    background-color: #673AB7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 1080px;
    height: 45px;
    background-color: #fff;
    border-radius:7px 7px 0 0;
    margin-top: 15px;
}
.menu-item{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background-color: #fff;
    border: none;
}
.btn-submit{
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #673AB7;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    border: none;
    width: 56px;
    height: 34px;
    margin: 10px 30px 0 0;
}
.form_option--question{
    display: none;
    background: #fff;
    width: calc(83% - 3px);
    height: 100%;
    margin-top: 7px;
    box-shadow: 0px 5px 15px -15px rgba(0, 0, 0, 0.25);
}
.form_option-question{
    background: #fff;
    width: calc(83% - 3px);
    height: 100%;
    margin-top: 7px;
    box-shadow: 0px 5px 15px -15px rgba(0, 0, 0, 0.25);
}
.form_option-shortanswer{
    background: #fff;
    width: calc(83% - 3px);
    height: 100%;
    margin-top: 7px;
    box-shadow: 0px 5px 15px -15px rgba(0, 0, 0, 0.25);
}
.form_option-checkbox{
    background: #fff;
    width: calc(83% - 3px);
    height: 100%;
    margin-top: 7px;
    box-shadow: 0px 5px 15px -15px rgba(0, 0, 0, 0.25);
}
.form_option-paragraph{
    background: #fff;
    width: calc(83% - 3px);
    height: 100%;
    margin-top: 7px;
    box-shadow: 0px 5px 15px -15px rgba(0, 0, 0, 0.25);
}
.form_option-multiple{
    background: #fff;
    width: calc(83% - 3px);
    height: 100%;
    margin-top: 7px;
    box-shadow: 0px 5px 15px -15px rgba(0, 0, 0, 0.25);
}
.text-paragraph::placeholder{
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */
    
    
    color: #BDB8B8;
    
    
}
.form_option--title{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;  
    display: block;
    left: 40px;
    border: none;
    outline: none;
}
.form_option--title::placeholder{
    color: #000;
}
.form_option--description{ 
    padding: 7px;
    width: 80%;
    height: 23px;
    left: 50px;
    top: 120px;
    border: none;
    outline: none;
    margin: 30px 0 20px 0;
}
.form_option--description::placeholder{
    color: #000;
}
.form_option-input{
    width: 500px;
    outline: none;
    border: none;
    margin-top: 10px;
}
.form_option--input{
    width: 500px;
    outline: none;
    display: block;
    border: none;
    margin-top: 20px;
    padding: 7px;
    margin-bottom: 10px;
}
.btn{
    border: none;
}
.dropdown button {
    background: #F1EDED;
    color: #000;
    border: none;
    text-align: left;
    padding-left: 35px;
    position: relative;
    height: 50px;
}
.dropdown i{
   position: absolute;
   top: 50%;
   right: 10%;
   transform: translate(-50%,-50%);
    
}
.dropdown-title{
    margin-top: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.dropdown-menu{
    width: 77%;
    border: none;
}
.dropdown-item{
    height: 50px;
}
.dropdown-item:focus{
    border-left: #673AB7;
}
.form_option--selection {
    height: 100%;
    background-color: #fff;
    border-top: 2px solid #E8E7E4;
    border-bottom:2px solid #E8E7E4;
}

.form_option--selection input{
    outline: none;
    border: none;
    margin-top: 25px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
}
.form_option--selection input:focus {
    border-bottom: 
    #A588D5 1px solid;
  }
  .form_option--selection input::placeholder{
    color: #000;
    font-size: 20px;
  }
.option{
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    height: 100%;
}
.ip-option{
    margin-right: 20px;
}
.content-option{
    position: relative;
    font-size: 20px;
}
.content-option input{
    outline: none;
}
.content-option-checkbox{
    position: relative;
}
.content-option-multiple{
    position: relative;
}
.option-icon{
    position: absolute;
    top: 22px;
    right: 80px;
    cursor: pointer;
}
.option-icon:hover{
    color: red;
    transform: scale(1.3);
}
.option--add{
   font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #BDB8B8;
}
.option-add{
    margin-left: 20px;
    outline: none;
}
.option-add-or{
    text-decoration: none;
}
.border{
    width: 90%;
    height: 0px;
    border: 1px solid rgba(189, 184, 184, 0.75);
    transform: rotate(-0.06deg);
    margin-left: 20px;
    margin-top: 50px;
}
.option-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    z-index: 1;option-add
}
.btn-icon-trash{
    font-size: 30px;
    z-index: 10;
    margin: -70px 0 0 -70px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.btn-icon-trash:hover{
    transform: scale(1.2);
}
.form_option--require{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
    align-items: center;
}
.boder-end{
    margin-bottom: 10px;
    width: 50px;
    height: 0px;
    border: 1px solid  #CECACA;
    transform: rotate(90deg);
}
#horizontal{
    margin-left: 200px;
}
.form-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}
.checkox{
    width: calc(83% - 3px);
}

.active {
    border-bottom: 4px solid #673AB7;
}