.header {
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    background-color: #fff;
}
.logo-img {
    width: 142px;
    height: 105px;
    left: 74px;
    top: 15px;
    z-index: 10;
    margin: -2px 0 0 30px;
    border-radius: 20px;
}
.title-heading_1 {
    left: 230px;
    position: absolute;
    color: #001373;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    top: 22px;
}
.title-heading_2 {
    position: absolute;
    left: 230px;
    color: #007bff;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 7px;
    margin-left: 2px;
    line-height: 36px;
    top: 76px;
}
.img-tlu {
    top: 120px;
    height: 100%;
}
.img-bg {
    width: 100%;
    height: 891px;
}
.recovery-password {
    position: absolute;
    width: 503px;
    height: 534px;
    left: 50%;
    top: 24%;
    transform: translateX(-50%);
    background: #ffffff;
    border: 1px solid #818181;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.recovery-title {
    width: 100%;
    height: 42px;
    left: 100px;
    top: 50px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #000000;
    text-align: center;
    margin-top: 40px;
}
.recovery-email {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 40px 0 0 30px;
    display: inline-block;
}
.recovery-input {
    box-sizing: border-box;
    padding-left: 20px;
    width: 88%;
    height: 41px;
    border: 1px solid rgba(129, 129, 129, 0.7);
    border-radius: 10px;
    margin: 20px 0 0 30px;
    background-color: #fff;
}
.recovery-input::placeholder {
    position: absolute;
    top: 10px;
    left: 20px;
}
.recovery-btn {
    position: absolute;
    width: 101px;
    height: 46px;
    left: 372px;
    top: 440px;
    border: solid 1px #e70303;
    background: #e70303;
    border-radius: 10px;
    color: #fff;
}
.recovery-btn-back {
    background-color: #fff;
    position: absolute;
    width: 101px;
    height: 46px;
    left: 16px;
    top: 440px;
    border: none;
    color: #c7c1c1;
    border-radius: 10px;
}
