.form_option--reply{
    background: #fff;
    width: calc(83% - 3px);
    height: 4000px;
    margin-top: 7px;
    box-shadow: 0px 5px 15px -15px rgba(0, 0, 0, 0.25);
}
.form_option-title{
    padding: 20px;
}
.title-list{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    
    color: #000000;
    margin-left: 20px;
}
.list-member{
    list-style: none;
    margin-top: 50px;
}
.list-member-name{
    line-height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #ECEDEF;
    border-radius: 10px;
    padding: 0 0 0 20px;
}
.list-member-icon{
    width: 50%;
    height: 5%;
}
.boder-list-member{
    width: 1012px;
    height: 0px;
    margin-top: 50px;
    border: 1px solid #CECACA;
}
.title-list-point{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    
    color: #000000;
    padding : 20px;
}
.title--list-point{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-point{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 40px;
    color: #000000;
}
.list--point{
    list-style: none;

}
.list-point-member{
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ECEDEF;
     border-radius: 10px;
     padding: 0 0 0 50px;
     margin-top: 20px;
}
.border-list-point{
    width: 1012px;
    height: 0px;
    border: 1px solid #CECACA;
    margin-top: 50px;
}
.question-chart-pie{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding: 20px;
}
.boder-chart-pie{
    width: 1012px;
    height: 0px;
    border: 1px solid #CECACA;
    margin-top: 50px;
}
.question-chart-horizontal{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 20px;
    color: #000000;
}
.boder-chart-horizontal{
    width: 1012px;
    height: 0px;
    border: 1px solid #CECACA;
    margin-top: 50px;
}
#columnChart{
    margin-left: 100px;
    position: relative;
}
.chart-point{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}
.chart-poin-end {
    display:flex;
    justify-content: end;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-right: 100px;
    color: #000000;
    
}