.app{
    
}
.header{
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    background-color: #fff;
}
.logo-img{
    width: 142px;
    height: 105px;
    left: 74px;
    top: 15px;
    z-index: 10;
    margin: -2px 0 0 30px;
    border-radius: 20px;
}
.title-heading_1{
    left: 230px;
    position: absolute;
    color: #001373;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    top: 22px;
}
.title-heading_2{
    position: absolute;
    left: 230px;
    color: #007BFF;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 7px;
    margin-left: 2px;
    line-height: 36px;
    top: 76px;
}
.img-tlu{
    position: absolute;
    top: 120px;
    height: 100%;
}
.img-bg{
    width: 100%;
    height: 891px;
}
.recovery-password{
    position: absolute;
    width: 503px;
    height: 534px;
    left: 416px;
    top: 46px;
    background: #FFFFFF;
    border: 1px solid #818181;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.recovery-title{
    position: absolute;
    width: 327px;
    height: 42px;
    left: 100px;
    top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #000000;
}
.recovery-email{
    position: absolute;
    width: 174px;
    height: 24px;
    left: 20px;
    top: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
    
}
.recovery-input{
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 41px;
    left: 20px;
    top: 200px;
    
    background: #FFFFFF;
    border: 1px solid rgba(129, 129, 129, 0.7);
    border-radius: 10px;
}
.recovery-input::placeholder{
    position: absolute;
    top: 10px;
    left: 20px;
}
.recovery-btn{
    position: absolute;
    width: 101px;
    height: 46px;
    left: 375px;
    top: 440px;
    border: solid 1px #E70303;
    background: #E70303;
    border-radius: 10px;
}
.recovery-btn-back{
    background-color: #fff;
    position: absolute;
    width: 101px;
    height: 46px;
    left: 30px;
    top: 440px;
    border: solid 1px #DCD4D4;
    color: #DCD4D4;
    border-radius: 10px;
}
.verify-code{
    display: flex;
    position: absolute;
    top: 200px;
    left: 10%;
    width: 40px;
    text-align: center;
    color: #818181;
}
.resend-code{
    position: absolute;
    width: 335px;
    height: 17px;
    left: 100px;
    top:340px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}
.resend-code-link{
    text-decoration: none;
}
.verify-code-number{
    border: none;
    outline: none;
    border-bottom: 2px solid  #818181;
    width: 40px;
    margin: 0 30px 0 30px;
    padding: 10px;
    font-size: 40px;
    color: #818181;
}
